.section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 50px;
	gap: 20px;
}

.icon {
	object-fit: contain;
}

.title {
	color: var(--color-text);
	font-size: 36px;
	font-weight: 400;
}

.content {
	color: var(--color-text);
	font-family: "Big Shoulders", sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.5;
}

.learnButton {
	border: none;
	background-color: rgb(--color-background);
	padding: 12px 32px;
	border-radius: 50px;
	cursor: pointer;
	font-family: "Big Shoulders", sans-serif;
	margin-top: 80px;
}
