.section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 50px;
	gap: 20px;
}

.icon {
	object-fit: contain;
}

.title {
	color: var(--color-text);
	font-size: 36px;
	font-weight: 400;
}

.content {
	color: var(--color-text);
	font-family: "Big Shoulders", sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.5;
}

.learnButton {
	border: 3px solid transparent;
	background-color: rgb(--color-background);
	padding: 12px 32px;
	border-radius: 50px;
	cursor: pointer;
	font-family: "Big Shoulders", sans-serif;
	margin-top: 80px;
	transition:
		background-color 0.2s,
		border 0.2s;
}

.learnButton:hover {
	border: 3px solid white;
	color: white !important;
	background-color: transparent;
}
