:root {
	--color-background: rgb(240, 240, 240);
	--color-text: rgb(240, 240, 240);
	--color-sedans: rgb(222, 122, 33);
	--color-suvs: rgb(3, 94, 103);
	--color-luxury: rgb(0, 56, 55);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px) {
	body {
		height: auto;
		padding: 50px;
	}
}
